html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Stickey footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

title {
    margin: 24px 0;
}

chat-well {
    margin-top: 35px;
}