.btn {
    margin-bottom: 10px;
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.message-error {
    color: white;
    background-color: indianred;
}

.validation-error { 
    border:  1px solid #a94442; 
}

.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.title {
    margin: 24px 0;
}

.chat-well {
    margin-top: 35px;
}

.user-well {
    margin-top: 35px;
    background-color: gray;
    color: white;
}